@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  overflow-x: hidden;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

.custom-checkbox {
  appearance: none; /* Remove default checkbox styling */
  width: 20px; /* Set width */
  height: 20px; /* Set height */
  border: 2px solid violet; /* Border color */
  border-radius: 4px; /* Rounded corners */
  cursor: pointer; /* Pointer cursor on hover */
  outline: none; /* Remove outline */
  position: relative; /* Position for the checkmark */
}

.custom-checkbox:checked {
  background-color: violet; /* Background color when checked */
}

.custom-checkbox:checked::after {
  content: ""; /* Create a checkmark */
  position: absolute;
  left: 5px; /* Position checkmark */
  top: 1px; /* Position checkmark */
  width: 5px; /* Checkmark width */
  height: 10px; /* Checkmark height */
  border: solid white; /* Checkmark color */
  border-width: 0 2px 2px 0; /* Checkmark shape */
  transform: rotate(45deg); /* Rotate to form a checkmark */
}

.custom-checkbox:checked + .task-label {
  text-decoration: line-through; /* Add line-through effect when checked */
}
